body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #0077B6;
    color: #fff;
    text-align: center;
    padding: 20px;
}
nav {

   
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 10px;
}

#Refill1P {
    font-weight: bold;
     font-size: 16px;
}

#divRefill1 {
    text-align: center; 
    padding: 5px;
    
}

#RefillButton  {
    background-color: #0077B6; 
    color: #fff;
     border: none;
      padding: 5px 7px; 
      margin-top: 5px; 
      cursor: pointer; 
      border-radius: 5px;
}
nav a {
    text-decoration: none;
    color: #110d0d;
    font-size: 25px;
    font-family: alata;
}

main {
    text-align: center;

}



nav a.active {
    color:#293262;
     font-weight: bold;
     border-bottom: 3px solid #293262;
}


  
MapContainer {
    max-width: 100vw;
    height: 400px;
    
}

#map {
    max-width: 100vw;
    height: 600px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);*/
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.routing-control {
    max-width: 300px;
}

.directions-collapse {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}

.directions-show {
    max-height: 500px;
    overflow-y: auto;
}

/* Add a CSS class for showing/hiding directions */
.directions-collapse {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}

.directions-show {
    max-height: 500px;
    overflow-y: auto;
}
#userLocationMarker {
    color: red;
}
button {
background-color: #0077B6;
color: #fff;
border: none;
padding: 10px 20px;
margin: 5px;
cursor: pointer;
border-radius: 5px;
}

/* Change button color on hover */
button:hover {
background-color: #005a8c;
}

@font-face {
    font-family: 'Alata';
    src: url('../assets/fonts/Alata-Regular.ttf') format('truetype'); /* Adjust the path to match your project structure */
    font-weight: normal;
    font-style: normal;
  } 
  